* {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace
}

div.intro {
    position: relative;
    text-align: center;
    top: 0;
    padding-bottom: 15px;
    background-color: #eee;
    height: 200px;
    border-bottom: 1px solid black;
    transition: 500ms linear;
}

div.intro:hover {
    background-color: #f1f1f1;
    border-bottom: 1px solid darkgreen;
    box-shadow: 1px 5px 5px #ccc;
    color: darkgreen;
}

div.intro h1 {
    position: relative;
    top: 5px;
}

div.intro p {
    position: relative;
    top: 15px;
}

div.intro h2 {
    padding-top: 35px;
    padding-left: 15px;
    text-align: left;
}

div.intro ul {
    position: relative;
    top: 10px;
    float: left;
    list-style: none;
    text-align: left;
    padding-left: 15px;
}

div.shop-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.card {
    position: relative;
    display: block;
    width: 280px;
    height: 250px;
    left: 15px;
    top: 15px;
    transition: 500ms linear;
    cursor: pointer;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

div.card:hover, div.card:hover div.content {
    box-shadow: 2px 5px 5px #ccc;
}

div.card:hover div.content {
    background-color: #f1f1f1;
    color: darkgreen;
}

div.image {
    position: relative;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/87/IPhone_5.svg");
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    left: -5px;
}

div.content {
    background-color: #eee;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 5px 10px 5px;
    transition: 500ms linear;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

table tr th {
    padding: 0 10px 0 10px;
}

table tr td {
    padding: 0 10px 0 10px;
}