* {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace
}

div.intro {
    position: relative;
    text-align: center;
    top: 0;
    padding-bottom: 15px;
    background-color: #eee;
    height: 100px;
    border-bottom: 1px solid black;
    transition: 500ms linear;
}

div.intro:hover {
    background-color: #f1f1f1;
    border-bottom: 1px solid darkgreen;
    box-shadow: 1px 5px 5px #ccc;
    color: darkgreen;
}

div.intro h1 {
    position: relative;
    top: 5px;
}

div.intro p {
    position: relative;
    top: 15px;
}

div.shop-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.card {
    position: relative;
    display: block;
    width: 280px;
    height: 250px;
    left: 15px;
    top: 15px;
    transition: 500ms linear;
    cursor: pointer;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

div.card:hover, div.card:hover div.content {
    box-shadow: 2px 5px 5px #ccc;
}

div.card:hover div.content {
    background-color: #f1f1f1;
    color: darkgreen;
}

div.image {
    position: relative;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/87/IPhone_5.svg");
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    left: -5px;
}

div.content {
    background-color: #eee;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 5px 10px 5px;
    transition: 500ms linear;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Tables */
table.top-selling-products {
    border-spacing: 0;
    border-collapse: collapse;
}

table.top-selling-products thead tr {
    text-align: left;
    color: #ffffff;
    background-color: #db9833;
}

table.top-selling-products th, td {
    padding: 10px;
}

table td.product-image {
    text-align: center;
}

table.top-selling-products img {
    height: 100px;
}

table.top-selling-products tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
}

table.top-selling-products tbody tr:hover {
    background-color: #f6f6f6;
    font-weight: bold;
}