* {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace
}

/* intro text + cards */
header {
    margin-bottom: 35px;
}

div.intro {
    position: relative;
    text-align: center;
    top: 0;
    padding-bottom: 20px;
    background-color: #eee;
    height: 200px;
    border-bottom: 1px solid black;
    transition: 500ms linear;;
}

div.intro:hover {
    background-color: #f1f1f1;
    border-bottom: 1px solid darkgreen;
    color: darkgreen;
}

div.intro h1 {
    position: relative;
    top: 5px;
}

div.intro p {
    position: relative;
    top: 15px;
}

div.intro h2 {
    padding-top: 35px;
    padding-left: 15px;
    text-align: left;
}

div.intro ul {
    position: relative;
    top: 10px;
    float: left;
    list-style: none;
    text-align: left;
    padding-left: 15px;
}

div.shop-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.card {
    position: relative;
    display: block;
    width: 280px;
    height: 250px;
    left: 15px;
    top: 15px;
    transition: 500ms linear;
    cursor: pointer;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

div.card:hover, div.card:hover div.content {
    box-shadow: 2px 5px 5px #ccc;
}

div.card:hover div.content {
    background-color: #f1f1f1;
    color: darkgreen;
}

div.image {
    position: relative;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/87/IPhone_5.svg");
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    left: -5px;
}

div.content {
    background-color: #eee;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 5px 10px 5px;
    transition: 500ms linear;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* END */

/* Tables */
table.top-selling-products {
    border-spacing: 0;
    border-collapse: collapse;
}

table.top-selling-products thead tr {
    text-align: left;
    color: #ffffff;
    background-color: #db9833;
}

table.top-selling-products th, td {
    padding: 10px;
}

table td.product-image {
    text-align: center;
}

table.top-selling-products img {
    height: 100px;
}

table.top-selling-products tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
}

table.top-selling-products tbody tr:hover {
    background-color: #f6f6f6;
    font-weight: bold;
}
/* END */

/* EXTRAS */
button[type="submit"] {
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: #ffcc99;
    border-radius: 5px;
    transition: 500ms linear;
}

button[type="submit"]:hover {
    border-radius: 25px;
    border-bottom: 2px solid #db9833;
    cursor: pointer;
    box-shadow: 1px 5px 10px #ccc;
    color: #555;
}

input[type="text"] {
    border: none;
    background-color: #ffcc99;
    outline: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    transition: 500ms linear;
}

input[type="text"]:hover {
    border-radius: 2px;
}

input[type="text"]:focus {
    border-radius: 25px;
}

input[type="number"] {
    border: none;
    background-color: #ffcc99;
    outline: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    transition: 500ms linear;
}

input[type="number"]:hover {
    border-radius: 2px;
}

input[type="number"]:focus {
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {
    * {font-size: 12px}
    header {margin-bottom: 5px}
    div.intro {
        font-size: 12px;
        padding-bottom: 0;
        height: 180px;
    }
    table {width: 50%}
    table.top-selling-products th, td {padding: 2px}
    table.top-selling-products img {height: 50px}
    button[type="submit"] {
        padding: 2px 5px 2px 5px;
        font-size: 10px;
        margin-left: 75px;
        margin-bottom: 10px;
    }
    input[type="file"] {
        padding: 0;
        font-size: 10px;
        margin-bottom: 12px;
        margin-top: 5px;
        margin-left: 25px;
    }
    input[type="text"] {
        padding: 1px 2px 1px 2px;
        font-size: 10px;
    }
    input[type="number"] {
        padding: 1px 2px 1px 2px;
        font-size: 10px;
    }
}